body {
  color : #333;
  font-family: Verdana, sans-serif;
  margin:0;
}

header {
  background-color: #efefef;
  padding-top: 32px;
  padding-bottom: 32px;
}

.container {
  /* background-color: pink; */
  width : 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.TYのアイコン {
  /* background-color: skyblue; */
}


.情報 {
  /* background-color: tomato; */
  margin-left: 32px;
}

.TYのアイコン img {
  border-radius: 40%;
  border-width : 4px;
  border-color : red;
  border-style : dotted;
}

.情報 h1{
  font-weight : normal;
  font-size : 24px;
  margin : 0;
}

.情報 p{
  margin : 0;
  margin-bottom:16px;
}

.情報 ul {
  margin:0;
  padding :0;
  list-style-type:none;
  display : flex;
}

.情報 ul li{
  margin-right: 8px;
}

.works {
  width:400px;
  margin-left: auto;
  margin-right: auto;
}

.works > h1 {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  margin-top : 60px;
  margin-bottom :60px;
}

.works>section {
  margin-bottom:60px;
}

.works>section>h1{
  font-weight: normal;
}

.works>section>p{
  line-height: 2;
}

footer p{
  text-align: center;
  margin-bottom: 60px;
  color : gray;
  font-size : 100px
}
